In [1]:
# How To Alter Existing Rows & Columns in our DataFrame
import pandas as pd

In [4]:
people = {
    "first": ["Corey",'Jane','John'], 
    "last": ["Schafer",'Doe','Doe'], 
    "email": ["CoreyMSchafer@gmail.com",'JaneDoe@email.com','JohnDoe@email.com']
}

In [6]:
df = pd.DataFrame(people)

In [8]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [10]:
df.columns = ['first_name', 'last_name', 'email']
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [20]:
df.columns = [x.lower() for x in df.columns] # Column Edit using list comprehension
df

  firstname lastname                    email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [21]:
df.columns = df.columns.str.replace('_',' ')
df

  firstname lastname                    email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [24]:
df.rename(columns={'firstname':'first','lastname':'last'}, inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [27]:
df.loc[2]

first                 John
last                   Doe
email    JohnDoe@email.com
Name: 2, dtype: object

In [30]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com'] Renaming all columns
df

SyntaxError: invalid syntax (<ipython-input-30-def87f8307a6>, line 1)

In [33]:
df.loc[2,['last', 'email']] = ["Doe",'JohnDoe@email.com'] # rename two col
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [36]:
df.loc[2,'last'] = "Smith" # rename signle value
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [38]:
df.at[2,'last'] = "David" # df.at also work the same
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    David        JohnDoe@email.com

In [50]:
# Do Not Do This ! This will not work
filtt = (df['email'] == 'JohnDoe@email.com')
df[filtt]['last'] = 'Smith'
# Instead Do this
df.loc[filtt, 'last'] = 'Smoke'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smoke        JohnDoe@email.com

In [52]:
# See all email address to lowercase
df['email'].str.lower() # This will not make permanent Change

0    coreymschafer@gmail.com
1          janedoe@email.com
2          johndoe@email.com
Name: email, dtype: object

In [55]:
# Change all email address to lowercase
df['email'] = df['email'].str.lower() # This will make permanent Change
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smoke        johndoe@email.com

In [57]:
# len function 
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [58]:
def update_email(email):
    return email.upper()

In [61]:
# Temporary Update for Display
df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [66]:
# Permanent Update in Data
df['email'] = df['email'].apply(update_email)
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smoke        JOHNDOE@EMAIL.COM

In [68]:
# Update Series / Column using Lambda function
df['email'] = df['email'].apply(lambda x: x.lower())
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smoke        johndoe@email.com

In [71]:
#This tells the len of columns / series
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [75]:
#This tells the len of rows
df.apply(len, axis='rows')

first    3
last     3
email    3
dtype: int64

In [77]:
# This will be seen better on numeric data
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [79]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [80]:
# applymap works on entire dataframe
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [83]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smoke        johndoe@email.com

In [86]:
# map method only works for a series
df['first'].map({'corey':'Chris', 'jane':'Mary'})
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smoke        johndoe@email.com

In [91]:
df['first'] = df['first'].replace({'Jane':'Chris', 'John':'Mary'})
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1  Chris      Doe        janedoe@email.com
2   Mary    Smoke        johndoe@email.com