In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('E:\PIAIC\Project\Pandas-CoreyMS\data\survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv("E:\PIAIC\Project\Pandas-CoreyMS\data\survey_results_schema.csv", index_col='Column')
# Download CSV Files from this link
# https://insights.stackoverflow.com/survey

In [24]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [32]:
high_salary = (df['ConvertedComp'] > 70000)

In [34]:
df.loc[high_salary,['ConvertedComp','Country','LanguageWorkedWith']]

,ConvertedComp,Country,LanguageWorkedWith
Respondent,,,
6,366420.0,Canada,Java;R;SQL
9,95179.0,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
13,90000.0,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
16,455352.0,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...
22,103000.0,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...
...,...,...,...
88876,180000.0,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...
88877,2000000.0,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...
88878,130000.0,United States,HTML/CSS;JavaScript;Scala;TypeScript
88879,82488.0,Finland,Bash/Shell/PowerShell;C++;Python
88882,588012.0,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python

In [37]:
countries =['United States','India','United Kingdom','Germany']
filt = df['Country'].isin(countries)
df.loc[filt,'Country']

Respondent
1        United Kingdom
4         United States
8                 India
10                India
13        United States
              ...
84539    United Kingdom
85642     United States
85961    United Kingdom
86012             India
88282     United States
Name: Country, Length: 41613, dtype: object

In [43]:
filtLang = df['LanguageWorkedWith'].str.contains('Python',na=False)
df.loc[filtLang,'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object