In [4]:
# 4Th Tutotrial
# Filtering Data
import pandas as pd

In [5]:
people = {
    "first": ["Corey",'Jane','John'], 
    "last": ["Schafer",'Doe','Doe'], 
    "email": ["CoreyMSchafer@gmail.com",'JaneDoe@email.com','JohnDoe@email.com']
}

In [7]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [9]:
df['last'] == 'Doe' # This gives complete answer for whole df

0    False
1     True
2     True
Name: last, dtype: bool

In [13]:
filt = df['last'] == 'Doe' # Saving results in a variable
filt

0    False
1     True
2     True
Name: last, dtype: bool

In [15]:
df[filt] # Returned based on our filter

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [17]:
df[df['first'] == 'Jane'] # Some people use direct filters

  first last              email
1  Jane  Doe  JaneDoe@email.com

In [20]:
df.loc[filt] #loc can use filter

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [22]:
df.loc[filt, 'email'] # You can also ask for certain labels

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [26]:
filt1 = (df['last'] == 'Doe') & (df['first'] == 'John')# multiple conditions with AND
filt1

0    False
1    False
2     True
dtype: bool

In [29]:
df.loc[filt1, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [33]:
filt2 = (df['last'] == 'Schafer') | (df['first'] == 'John')# multiple conditions with OR
df.loc[filt2,'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [35]:
df.loc[~filt2,'email'] # Negative Results, Excluding Filter Results Using Tilda

1    JaneDoe@email.com
Name: email, dtype: object