In [19]:
# Sorting Data
import pandas as pd

In [20]:
people = {
    "first": ["Corey",'Jane','John','Adam'], 
    "last": ["Schafer",'Doe','Doe','Doe'], 
    "email": ["CoreyMSchafer@gmail.com",'JaneDoe@email.com','JohnDoe@email.com','adam@doe.com']
}

In [21]:
df = pd.DataFrame(people)

In [22]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe             adam@doe.com

In [23]:
# Sort by Last Name
df.sort_values(by='last')

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe             adam@doe.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [24]:
# Sort by last name in descending order
df.sort_values(by='last',ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe             adam@doe.com

In [26]:
#sort by 'last' name and then by 'first' both in descending order
df.sort_values(by=['last','first'], ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe             adam@doe.com

In [28]:
# Sort by first name in descending order and then by last name in ascending order 
df.sort_values(by=['last','first'], ascending=[False, True])

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe             adam@doe.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [32]:
# Permanent Change : Sort by first name in descending order and then by last name in ascending order 
df.sort_values(by=['last','first'], ascending=[False, True], inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe             adam@doe.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [34]:
# Reset Sorting
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe             adam@doe.com

In [35]:
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object