In [65]:
import pandas as pd

In [67]:
df = pd.read_csv('E:\PIAIC\Project\Pandas-CoreyMS\data\survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv("E:\PIAIC\Project\Pandas-CoreyMS\data\survey_results_schema.csv", index_col='Column')
# Download CSV Files from this link
# https://insights.stackoverflow.com/survey

In [69]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [71]:
# Column name 'ConvertedComp' is used for salary in the data. Lets rename it
df.rename(columns={'ConvertedComp':'SalaryUSD'}, inplace=True)

In [73]:
df['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
88377        NaN
88601        NaN
88802        NaN
88816        NaN
88863        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [75]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
88377    Yes
88601     No
88802     No
88816     No
88863    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [77]:
df['Hobbyist'].map({'Yes':True, 'No':False})

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool

In [83]:
# Renaming Data in Hobbyist Columns. Beware! Values other than Yes and No will be converted to NaN.
df['Hobbyist'] = df['Hobbyist'].map({'Yes':True, 'No':False})