In [1]:
import pandas as pd

In [33]:
people = {
    "first": ["Corey",'Jane','John'], 
    "last": ["Schafer",'Doe','Doe'], 
    "email": ["CoreyMSchafer@gmail.com",'JaneDoe@email.com','JohnDoe@email.com']
}

In [34]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [23]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [24]:
df.set_index('email') # Now email is the index col

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [25]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [26]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [35]:
df.set_index('first', inplace=True) # Now email is the index col with inplace

In [37]:
df

          last                    email
first
Corey  Schafer  CoreyMSchafer@gmail.com
Jane       Doe        JaneDoe@email.com
John       Doe        JohnDoe@email.com

In [40]:
df.loc['Jane','last']

'Doe'

In [44]:
df.iloc[1]

last                   Doe
email    JaneDoe@email.com
Name: Jane, dtype: object

In [46]:
df.reset_index(inplace=True) # This reset the index

In [48]:
df

   index  first     last                    email
0      0  Corey  Schafer  CoreyMSchafer@gmail.com
1      1   Jane      Doe        JaneDoe@email.com
2      2   John      Doe        JohnDoe@email.com